body
{
	padding-top: 57px;
	background-color: #ffffff;
	color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
h1
{
	font-size: 36px;
	font-weight: 400;
	color: #000000;
	margin: 20px;
}

.homePage
{
	text-align: center;
}

.homePage img
{
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
nav
{
	width: 100%;
	min-height: 57px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
.carousel-inner > .carousel-item > img
{
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-control-prev
{
	left: 10%;
}
.carousel-control-next
{
	right: 10%;
}
.break
{
	/* background-color: cadetblue; */
	padding-top: 40px;
}
.collapse img{
	width: 40px;
	height: 40px;
	margin-left: 15px;
}
.page-footer
{
	color: white;
	background-color: rgb(51, 51, 51);
}
.footer-copyright
{
	color: white;
	background-color: rgb(37, 37, 37);
}
.mainContent
{
	/* background-color: aqua; */
	min-height: 600px;
}
.adminTable
{
	font-size: 12px;
}
.tab-content
{
	min-height: 200px;
}
.myProfile{
	left: auto; 
	right: 15px;
}
.allGood, .allGoodCart{
	display: none;
	z-index: 10000;
	border-radius: 5px;
	position: fixed;
	left: 50%;
    transform: translate(-50%, 0);
	height: 50px;
	width: 300px;
	color: white;
	background-color: rgb(64, 187, 64);
	opacity: 0.9;
}
.allGood, .somethingWentWrong, .almostGood, .allGoodCart, .somethingWentWrongCart p{
	padding-top: 15px;
	text-align: center;
}
.somethingWentWrong, .somethingWentWrongCart{
	display: none;
	z-index: 10000;
	border-radius: 5px;
	position: fixed;
	left: 50%;
    transform: translate(-50%, 0);
	height: 50px;
	width: 300px;
	color: white;
	background-color: rgb(199, 53, 53);
	opacity: 0.9;
}
.almostGood{
	display: none;
	z-index: 10000;
	border-radius: 5px;
	position: fixed;
	left: 50%;
    transform: translate(-50%, 0);
	height: 50px;
	width: 300px;
	color: white;
	background-color: rgb(221, 171, 63);
	opacity: 0.9;
}
@media only screen and (max-width: 992px) {
	.nav-item img{
		margin-top: 10px;
		margin-left: 0px;
	}
	.userMenu, .adminMenu{
		margin-bottom: 10px;
	}
	.adminButtons{
		margin-bottom: 4px;
	}
  }
@media only screen and (max-width: 340px) {
	#addProduct{
		margin-bottom: 4px;
	}
}
@media only screen and (max-width: 575px) {
	#searchButton{
		margin-top: 4px;
	}
}
/* obrazki */
.text {
	position: absolute;
	top: 0;
	color:rgb(255, 255, 255);
	background-color:rgba(54, 54, 54, 0.8);
	width: 286.66px;
	height: 382.21px;
	line-height: 382.21px;
	text-align: center;
	z-index: 10;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
@media only screen and (max-width: 1200px) {
	.text {
		position: absolute;
		top: 0;
		color:rgb(255, 255, 255);
		background-color:rgba(54, 54, 54, 0.8);
		width: 236.66px;
		height: 315.55px;
		line-height: 315.55px;
		text-align: center;
		z-index: 10;
		opacity: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}
@media only screen and (max-width: 989px) {
	.text {
		position: absolute;
		top: 0;
		color:rgb(255, 255, 255);
		background-color:rgba(54, 54, 54, 0.8);
		width: 209.99px;
		height: 279.98px;
		line-height: 279.98px;
		text-align: center;
		z-index: 10;
		opacity: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}
@media only screen and (max-width: 768px) {
	.text {
		position: absolute;
		top: 0;
		color:rgb(255, 255, 255);
		background-color:rgba(54, 54, 54, 0.8);
		width: 240px;
		height: 320px;
		line-height: 320px;
		text-align: center;
		z-index: 10;
		opacity: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}
@media only screen and (max-width: 575px) {
	.text {
		display: none;
	}
}
.text:hover {
	opacity:1;
}
img {
	z-index:1;
}
.prodctNameUnderImage{
	height: 50px;
}