body
{
	padding-top: 57px;
	background-color: #ffffff;
	color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
h1
{
	font-size: 36px;
	font-weight: 400;
	color: #000000;
	margin: 20px;
}

.homePage
{
	text-align: center;
}

.homePage img
{
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
nav
{
	width: 100%;
	min-height: 57px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
.carousel-inner > .carousel-item > img
{
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-control-prev
{
	left: 10%;
}
.carousel-control-next
{
	right: 10%;
}
.break
{
	/* background-color: cadetblue; */
	padding-top: 40px;
}
.collapse img{
	width: 40px;
	height: 40px;
	margin-left: 15px;
}
.page-footer
{
	color: white;
	background-color: rgb(51, 51, 51);
}
.footer-copyright
{
	color: white;
	background-color: rgb(37, 37, 37);
}
.mainContent
{
	/* background-color: aqua; */
	min-height: 600px;
}
.adminTable
{
	font-size: 12px;
}
.tab-content
{
	min-height: 200px;
}
.myProfile{
	left: auto; 
	right: 15px;
}
.allGood{
	display: none;
	z-index: 10000;
	border-radius: 5px;
	position: fixed;
	left: 50%;
    transform: translate(-50%, 0);
	height: 50px;
	width: 300px;
	color: white;
	background-color: rgb(64, 187, 64);
	opacity: 0.9;
}
.allGood p{
	padding-top: 15px;
	text-align: center;
}
.somethingWentWrong{
	display: none;
	z-index: 10000;
	border-radius: 5px;
	position: fixed;
	left: 50%;
    transform: translate(-50%, 0);
	height: 50px;
	width: 300px;
	color: white;
	background-color: rgb(199, 53, 53);
	opacity: 0.9;
}
.somethingWentWrong p{
	padding-top: 15px;
	text-align: center;
}
@media only screen and (max-width: 992px) {
	.nav-item img{
		margin-top: 10px;
		margin-left: 0px;
	}
	.userMenu, .adminMenu{
		margin-bottom: 10px;
	}
	.adminButtons{
		margin-bottom: 4px;
	}
  }
@media only screen and (max-width: 340px) {
	#addProduct{
		margin-bottom: 4px;
	}
}
@media only screen and (max-width: 575px) {
	#searchButton{
		margin-top: 4px;
	}
}